*{
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.repos-container{
    width: 90%;
    margin: auto;
}
.repos-container .get-repos{
background-color: #f6f6f6;
display: flex;
padding: 20px;
}

.repos-container .get-repos input{
    width: 100%;
    border: none;
    padding: 15px 20px;
    height: 45px;
    border-radius: 40px 0 0 40px;
}
.repos-container .get-repos input:focus{
    outline: solid 1px teal;
}
.repos-container .get-repos button{
    width: 110px;
    background-color: teal;
    color: white;
    height: 45px;
    border: none;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
}
.repos-container .show-data{
    padding: 10px;
    background-color: #eee;
}
.show-data .repoBox{
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.show-data .repoBox:not(:last-child){
    margin-bottom: 5px;
}

.show-data .repoBox .name-container{
    max-width:75%;
    display:flex;
    flex-wrap:wrap;
}
.show-data .repoBox .data-container{
    display:flex;
    justify-content:space-between;
    gap:10px;
}

.show-data .repoBox .link{
    color: black;
    text-decoration: none;
    background-color: #845ec2;
    border-radius: 4px;
    font-size:16px;
}
.show-data .repoBox .star-count{
    background-color: #d5cabd;
    border-radius: 4px;
    font-size:16px;
}

@media(max-width:766px){
    .repos-container .get-repos{
        padding: 10px;
    }
    .repos-container .show-data{
        padding: 5px;
    }
    .show-data .repoBox{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .show-data .repoBox .data-container{
        flex-direction: column;
        gap:10px;
    }
    .show-data .repoBox .link{
        font-size:14px;
    }
    .show-data .repoBox .star-count{
        font-size:14px;
    }
    html{
        font-size:12px;
    }
}